/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 13, 2017, 8:36:33 PM
    Author     : K4RELS
*/

*{
    
  font-family: 'Cormorant Garamond', serif !important;
    
}

nav {
    
   text-align:  center;
    margin-bottom: 80px;
    border-bottom: black solid 2px;
}




nav li {
    
    
    display: inline;
    font-size: 1.2em;
    
} 

li+li {
    
    margin-left: 15px;
    
}


footer {
    
    text-align: center;
    
}


#searchBox {
    
    border-radius: 10px;
    
}

#searchBox:focus{
    
    border-color: orange;
/*     to remove the blue border when selected*/
     outline-width: 0;
}

#streamerList {
    
    width: 40% ;
    margin: 0 auto;
    text-align: center ;
   
}
.streamerIcon {
    height: 60px;
    width:60px;
    position:absolute ;
    top: 20px;
    left:50px;
    
}

.streamerName {
    
   color:black;
   text-decoration: none;
    width: 60px;
    font-size: 1.2em;
    position:absolute ;
    top: 90px;
    left: 55px ;
    z-index:  7;
}


.previewPic {
    
    width:160px;
   position:absolute;
    right: 300px ;
    top:15px;
    text-decoration: none;
    color:black ;
}


.streamer {
        position:relative;
      -webkit-box-shadow:  10px 10px 72px 2px rgba(0,0,0,0.46);
-moz-box-shadow:  10px 10px 72px 2px rgba(0,0,0,0.46);
box-shadow:  10px 10px 72px 2px rgba(0,0,0,0.46);
    border-radius: 5px;
    
    height: 140px;
    margin-bottom: 40px;
    
}


.streamerName:hover,
.streamerName:visited,
.streamerName::selection


{
    
    color:black;
    text-decoration: none;
    
    
    
}


.streamerDescription {
    
    position:absolute ;
    top: 60px;
    right: 200px;
    
    
}